<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!-- ActiveMQ 连接工厂 -->
    <!-- 真正可以产生Connection的ConnectionFactory-->
    <bean id="connectinFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="${mqUrl}" />
    </bean>

    <!-- Spring Caching连接工厂 -->
    <!-- Spring用于管理真正的ConnectionFactory的ConnectionFactory -->
    <bean id="cachingConnectionFactory"
          class="org.springframework.jms.connection.CachingConnectionFactory">
        <!-- 目标ConnectionFactory对应真实的可以产生JMS Connection的ConnectionFactory -->
        <property name="targetConnectionFactory" ref="connectinFactory"></property>
        <!-- Session缓存数量 -->
        <property name="sessionCacheSize" value="10"></property>
    </bean>

    <!-- 消息监听容器，监听目标是确定的-->
    <bean id="queueContainer"
          class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectinFactory"></property>
        <property name="destination" ref="notifyQueue"></property>
        <property name="messageListener" ref="myMessageListener"></property>
    </bean>
    <bean id="topicContainer"
          class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectinFactory"></property>
        <property name="destination" ref="notifyTopic"></property>
        <property name="messageListener" ref="myMessageListener"></property>
        <!-- 发布订阅模式 -->
        <property name="pubSubDomain" value="true" />
    </bean>

    <!--监听某个队列-->
    <bean id="notifyQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="${queueName}"></constructor-arg>
    </bean>
    <!--监听某个主题-->
    <bean id="notifyTopic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="${topicName}"></constructor-arg>
    </bean>

    <!--接收消息处理类-->
    <bean id="myMessageListener" class="com.zl.mina.jms.MyMessageListener">
        <property name="messageConverter" ref="messageConverter"></property>
    </bean>

    <!-- 配置JMS模版 -->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="cachingConnectionFactory" />
    </bean>

    <!--使用Spring JmsTemplate的消息生产者,目标未指定-->
    <bean id="myMessageProducer" class="com.zl.mina.jms.MyMessageProducer">
        <property name="jmsTemplate" ref="jmsTemplate"></property>
        <property name="messageConverter" ref="messageConverter"></property>
    </bean>

    <!--消息报文处理类-->
    <bean id="messageConverter" class="com.zl.mina.jms.MyMessageConverter">
    </bean>

</beans>